/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* header styles */
header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    padding-top: 12px;
    padding-bottom: 6px;
}

.logo a {
    font-size: 24px;
    color: #F9FAF8;
    text-decoration: none;
    font-weight: 900;
}

ul.nav-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 6px;
}

.nav-list a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.container {
    border: 5px solid orange;
}