/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
}

/* header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 16px 8px 8px;
}

.logo a {
    font-size: 24px;
    color: #F9FAF8;
    text-decoration: none;
    font-weight: 900;
}

ul.nav-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 6px;
}

.nav-list a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

/* main styles */
main {
    flex: 1;
}

button {
    background-color: #3882F6;
    padding: 6px 18px;
    font-size: 12px;
    border-radius: 25px;
    border-style: none;
    color: white;
}

.container.hero {
    display: flex;
    justify-content: space-between;
    padding: 60px 8px 30px;
    gap: 25px;
}

.hero-intro h1{
    margin: 0;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.hero-intro p {
    font-size: 18px;
    color: #E5E7EB;
}
.hero-img {
    width: 600px;
    height: 200px;
    background-color: gray;
    color: white;
    flex: 1 1 auto;
}

/* container color styles */
.bleed-blue {
    box-shadow: 0 0 0 100vmax #1F2937;
    clip-path: inset(0 -100vmax);
    background-color: #1F2937;
}

.bleed-gray {
    box-shadow: 0 0 0 100vmax #E5E7EB;
    clip-path: inset(0 -100vmax);
    background-color: #E5E7EB;
}